@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

* {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/

header {
    background-image: linear-gradient(to right, #000000 0%, #000000 55%, #dc1724 100%);
    height: 150px;
}

/*Header Div Classes*/

.cont-logo {
    width: 100px;
}

.nav-a {
    text-decoration: none;
    color: white;
}

.nav-a:hover {
    text-decoration: underline;
    color: #e76e76;
}

.nav-icon {
    color: white;
}

.nav-icon:hover {
    text-decoration: underline;
    color: #e76e76;
}

.hide:hover {
    text-decoration: underline;
    color: black;
}

.vis:hover {
    text-decoration: underline;
    color: black;
}

/*Article*/

article {
    width: 100%;
    height: 650px;
}

/*Article Div Classes*/

.car {
    background-image: linear-gradient(to right, #000000 0%, #000000 70%, #dc1724 100%);
    height: 490px;
}

/*Section Div Classess*/

.sec-row-1 {
    width: 100%;
}


/*Customize*/

.cuz {
    width: 100%;
    height: 400px;
}

.sec {
    background-color: #f8f9fa;
}

/*Feature Product*/

.feature-row {
    height: 700px;
    color: white;
}

.feat-cont {
    background-image: linear-gradient(to right, #000000 0%, #000000 70%, #dc1724 100%);
    border-radius: 10px;
}

.btn-car {
    width: 40px;
    height: 50px;
}

/*Join Community*/

.comm-row {
    width: 100%;
}

.community {
    background-color: #f8f9fa;
    height: 600px;
}

.int {
    outline: 0;
    border: none;
}

.j-c {
    width: 730px;
    height: 120px;
}

/*Footer*/

footer {
    height: 800px;
    background-color: black;
    color: white;
}

.foot {
    height: 570px;
}

.q-row {
    width: 100%;
}

.icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #e76e76;
}

.f-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.f-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #1e7cf2;
}

.t-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.t-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #24a4f2;
}

.i-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.i-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #9936c1;
}

.y-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.y-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #ff0808;
}

/*Media Query*/

@media screen and (max-width: 295px){
    .hide {
        display: none;
    }
}

@media screen and (max-width: 236px){
    .vis {
        display: none;
    }
}

@media screen and (min-width: 237px){
    .vis-can {
        display: none;
    }
}

@media screen and (min-width: 296px){
    .hide-can {
        display: none;
    }
}