@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

* {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/

header {
    background-image: linear-gradient(to right, #212529 0%, #212529 55%, #a5a5a5 100%);
    height: 150px;
}

/*Header Div Classes*/

.cont-logo {
    width: 150px;

}

.logon {
    width: 140px;
    height: 130px;
    object-fit: cover;
}

.nav-a {
    text-decoration: none;
    color: white;
}

.nav-a:hover {
    text-decoration: underline;
    color: #e76e76;
}

.nav-icon {
    color: white;
}

.nav-icon:hover {
    text-decoration: underline;
    color: #e76e76;
}

.hide:hover {
    text-decoration: underline;
    color: black;
}

.vis:hover {
    text-decoration: underline;
    color: black;
}

.dr-form {
    width: 320px;
}

.dr-form-search {
    width: 600px;
}

.search {
    outline: 0;
    border: none;
    background-color: transparent;
}

.shop-drop {
    width: 500px;
}

/*Article*/

article {
    width: 100%;
    height: 650px;
    background-color: #f8f9fa;
}

/*Article Div Classes*/

.car {
    background-image: linear-gradient(to right, #212529 0%, #212529 70%, #b8b8b8 100%);
    height: 648px;
}

.carou-in {
    margin-left: 13px;
}

.back-color {
    background-color: #f8f9fa;
}

/*Section Div Classess*/

.sec-row-1 {
    width: 100%;
}

/*Feature Series*/

.slime-cont {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slime {
    transition: transform 0.3s ease;
}

.slime-cont:hover .slime{
    transform: scale(1.1);
}


/*Customize*/

.cuz {
    width: 100%;
}

.sec {
    background-color: #f8f9fa;
}

/*Feature Product*/

.feature-row {
    height: 700px;
    color: white;
}

.feat-cont {
    background-image: linear-gradient(to right, #212529 0%, #212529 70%, #b8b8b8 100%);
    border-radius: 10px;
}

.btn-car {
    width: 30px;
    height: 30px;
}

.span-btn {
    width: 20px;
    height: 20px;
}

.img-pg-1 {
    height: 400px;
}

.img-pg-2 {
    height: 400px;
}

.img-pg-3 {
    height: 400px;
}

.bg-1 {
    background-color: transparent;
    color: white;
}

.feat-prod-view {
    text-decoration: none;
    color: white;
}

.feat-prod-view:hover {
    text-decoration: underline;
    color: #e76e76;
}

/*Join Community*/


.community {
    background-color: #f8f9fa;
}

.int {
    outline: 0;
    border: none;
}


/*Footer*/

footer {
    background-color: #212529;
    color: white;
}


.q-row {
    width: 100%;
}

.icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #e76e76;
}

.f-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.f-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #1e7cf2;
}

.t-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.t-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #24a4f2;
}

.i-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.i-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #9936c1;
}

.y-icn {
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

.y-icn:hover {
    scale: 1.3;
    text-decoration: underline;
    color: #ff0808;
}


